// Load params for inputs
includeConfig 'conf/input.config'

// Load params common for all modules
includeConfig 'conf/base.config'

// Load config for modules
includeConfig 'conf/sample_preparing.config'

nextflow.enable.dsl = 2

tower {
  enabled = true
  accessToken = "$TOWER_ACCESS_TOKEN"
  workspaceId = '222915005021784'
}

singularity{
    enabled = true
    cacheDir   = "$params.cacheDir"
    runOptions = "--bind /home,/tmp:/tmp"
}

profiles{
    cluster {
        executor{
            name                              = 'slurm'
            queueSize                         = 30
        }

        process{

            errorStrategy                     = { task.exitStatus in [134, 137, 138, 139, 140] ? 'retry' : 'terminate' }
            maxRetries                        =  5

            queue                             = 'all'
            maxForks                          = 30
        }
    }

    local{
        executor{
            name                              = 'local'
        }
    }

    test_small_sample                         { includeConfig 'conf/test/test_small_sample.config' }
}