// Load params.config for pipeline specific options
includeConfig 'conf/params.config'


nextflow.enable.dsl = 2

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA4MTI2fS5mNTg3MTBmYzM3YzAxOTQxNWM3MzgxOTc4YTMwNDEzOGFmNDJlMzZi'
  workspaceId = '222915005021784'
}


profiles{
    cluster {
        executor{
            name                      = 'slurm'
            queueSize                 = 300
        }
    }

    test {
        
    }
}

//##############  IMPORTANT PATHS  ###########################
params.work = "/home/ktest/share/Working_folder/TRUONGPHI/work"
params.database = "/home/ktest/pipeline_env/database"
params.project = "/home/ktest/project/truongphi/PRS"
//############################################################

singularity{
    enabled = true
    cacheDir   = "/home/ktest/pipeline_env/software/truongphi"
    runOptions = "--bind $PWD,$params.work,/tmp:/tmp,${params.database},$params.project"
}

process{

    errorStrategy                     = 'retry'
    maxRetries                        =  3

    queue                             = 'dev'
    maxForks                          = 300
}