// Load params for inputs
includeConfig 'conf/input.config'

// Load params common for all modules
includeConfig 'conf/base.config'

// Load config for modules
includeConfig 'conf/mapping.config'

nextflow.enable.dsl = 2

tower {
  enabled = true
  accessToken = "$TOWER_ACCESS_TOKEN"
  workspaceId = '222915005021784'
}


profiles{
    cluster {
        executor{
            name                      = 'slurm'
            queueSize                 = 30
        }
    }

    test1                              { includeConfig 'conf/test/test1.config' }
}

singularity{
    enabled = true
    cacheDir   = "$params.cache_sing_folder"
    runOptions = "--bind /home"
}

process{

    errorStrategy                     = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries                        =  3

    queue                             = 'dev'
    maxForks                          = 30
}