// Load params for inputs
includeConfig 'conf/input.config'

// Load params common for all modules
includeConfig 'conf/base.config'

// Load config for modules
includeConfig 'conf/calling.config'


nextflow.enable.dsl = 2

tower {
  enabled = true
  accessToken = "$TOWER_ACCESS_TOKEN"
  workspaceId = '222915005021784'
}


profiles{
    ktest_cluster  { includeConfig 'conf/ktest_cluster.config' }

    // test profiles
    test_human     { includeConfig 'conf/test/test_human.config' }
    test_pig       { includeConfig 'conf/test/test_pig.config'   }
}