executor{
    name                      = 'slurm'
    queueSize                 = 30
}

process{

    errorStrategy                     = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries                        =  5

    queue                             = 'prod'
    maxForks                          = 30
}

singularity{
    enabled = true
    cacheDir   = "$params.cache_sing_folder"
    runOptions = "--bind /home/"
}